body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    background: #4357ad;
    padding: 20px 30px;
    display: inline-block;
    font-size: 20px;
    color: #fff;
}

a:hover {
    background: #009ddc;
    padding: 25px 35px;
}

a:active {
    background: #000;
}

a:visited {
    background: #ccc;
}